*.sln
*/.vs
*/*/bin
*/*/obj 
*.csproj
hackerrank_day_8/hackerrank_day_8/Program.cs
DamaTahtasi/DamaTahtasi/DamaTahtasi.csproj.user
DamaTahtasi/DamaTahtasi/Form1.Designer.cs
DamaTahtasi/DamaTahtasi/Form1.resx
DamaTahtasi/DamaTahtasi/Program.cs
